@namespace mx "library://ns.adobe.com/flex/mx";

mx|Application{
	/* backgroundColor:#EFEFEF; */
	backgroundColor:#deb887;
	color:#f0f0f0;	
	backgroundGradientAlphas: 1.0, 1.0;
	backgroundGradientColors: #F0F0F0, #E3E3E3;
	themeColor:#F0F0F0;
	
}



mx|Alert{
	border-style:solid;
	border-color:#DDD;
	border-thickness:1;
	background-color:#FFF;
	padding-top:10;
	padding-bottom:0;
	padding-left:8;
	padding-right:8;
	drop-shadow-enabled:true;
	corner-radius:0;
	header-height:30;
	title-style-name: alertHeader;
	header-colors:#111,#111;
	title-background-skin: Embed(source="skins/dushen/Panel_headerSkin.png",scaleGridLeft="1",scaleGridTop="1",scaleGridRight="270",scaleGridBottom="28");
	highlight-alphas:0,0;
	controlBarStyleName: darkControlBar;
	color: #ABABAB;
	
	button-style-name:Button;
	button-height:30;
	
	closeButtonDisabledSkin: Embed(source="skins/dushen/Panel_closeButtonDisabledSkin.png");
	closeButtonDownSkin: Embed(source="skins/dushen/Panel_closeButtonDownSkin.png");
	closeButtonOverSkin: Embed(source="skins/dushen/Panel_closeButtonOverSkin.png");
	closeButtonUpSkin: Embed(source="skins/dushen/Panel_closeButtonUpSkin.png");
	
	modalTransparencyColor:#000000;
	modalTransparency:0.6;
	modalTransparencyBlur: 0;
	
	font-size:14;
	color: red; 
	
}

.alertHeader{
	font-size:14;
	color:#00AFE1;
}




mx|Accordion{
	background-color:#F2F2F2;
	border-color:#DDD;
	headerStyleName: accordionHeader;
}


mx|AccordionHeader
{
	disabledSkin: Embed(source="skins/dushen/AccordionHeader_disabledSkin.png",scaleGridLeft="4",scaleGridTop="4",scaleGridRight="148",scaleGridBottom="18");
	downSkin: Embed(source="skins/dushen/AccordionHeader_downSkin.png",scaleGridLeft="4",scaleGridTop="4",scaleGridRight="148",scaleGridBottom="18");
	overSkin: Embed(source="skins/dushen/AccordionHeader_overSkin.png",scaleGridLeft="4",scaleGridTop="4",scaleGridRight="148",scaleGridBottom="18");
	selectedSkin: Embed(source="skins/dushen/AccordionHeader_selectedSkin.png",scaleGridLeft="4",scaleGridTop="4",scaleGridRight="148",scaleGridBottom="18");
	selected-up-skin : Embed(source="skins/dushen/AccordionHeader_selectedSkin.png",scaleGridLeft="4",scaleGridTop="4",scaleGridRight="148",scaleGridBottom="18");
	selected-over-skin: Embed(source="skins/dushen/AccordionHeader_overSkin.png",scaleGridLeft="4",scaleGridTop="4",scaleGridRight="148",scaleGridBottom="18");
	selected-down-skin: Embed(source="skins/dushen/AccordionHeader_downSkin.png",scaleGridLeft="4",scaleGridTop="4",scaleGridRight="148",scaleGridBottom="18");
	upSkin: Embed(source="skins/dushen/AccordionHeader_upSkin.png",scaleGridLeft="4",scaleGridTop="4",scaleGridRight="148",scaleGridBottom="18");
	focusRoundedCorners: 0;
	text-selected-color:#444;
	text-roll-over-color:#EA0;
	color:#00AFE1;
	
	padding-top:6;
	padding-left:6;
	padding-bottom:4;
	
	font-size:13;
	font-weight:normal;
}

mx|CheckBox{
	color:#CCC;
}

mx|ColorPicker{
	swatchPanelStyleName:colorPickerPanel;
}

.colorPickerPanel
{
	borderColor:#DDD;
	highlightColor:#F0F0F0;
	border-thickness:1;
	shadow-color:#CCC;
	backgroundColor:#ECECEC;
	columnCount:20;
	horizontalGap:0;
	previewHeight:22;
	previewWidth:45;
	swatchGridBackgroundColor:#FFFFFF;
	swatch-border-color:#FFF;
	swatchGridBorderSize:1;
	swatchHeight:14;
	swatchHighlightColor:#FFFFFF;
	swatchHighlightSize:1;
	swatchWidth:14;
	textFieldWidth:72;
	verticalGap:0;
}


.accordionHeader
{
	cornerRadius: 0;
}





mx|Button.tab{
	disabledSkin: Embed(source="skins/dushen/TabBar-tab_disabledSkin.png",scaleGridLeft="2",scaleGridTop="2",scaleGridRight="50",scaleGridBottom="19");
	downSkin: Embed(source="skins/dushen/TabBar-tab_downSkin.png",scaleGridLeft="2",scaleGridTop="2",scaleGridRight="50",scaleGridBottom="19");
	overSkin: Embed(source="skins/dushen/TabBar-tab_overSkin.png",scaleGridLeft="2",scaleGridTop="2",scaleGridRight="50",scaleGridBottom="19");
	selectedDisabledSkin: Embed(source="skins/dushen/TabBar-tab_selectedDisabledSkin.png",scaleGridLeft="2",scaleGridTop="2",scaleGridRight="50",scaleGridBottom="20");
	selectedUpSkin: Embed(source="skins/dushen/TabBar-tab_selectedUpSkin.png",scaleGridLeft="2",scaleGridTop="2",scaleGridRight="50",scaleGridBottom="20");
	upSkin: Embed(source="skins/dushen/TabBar-tab_upSkin.png",scaleGridLeft="2",scaleGridTop="2",scaleGridRight="50",scaleGridBottom="19");
}



mx|Button
{
	color:#000000;
	
	textRollOverColor:#000000;
	text-selected-color:#000000;
	/* textSelectedColor: #FFBD2F; */
	font-size:12;
	font-weight:normal;
	padding-top:6; padding-bottom:6; padding-right:10; padding-left:10;
	
	upSkin: Embed(source="skins/dushen/Button_upSkin.png",scaleGridLeft="2",scaleGridTop="2",scaleGridRight="72",scaleGridBottom="26");
	overSkin: Embed(source="skins/dushen/Button_overSkin.png",scaleGridLeft="2",scaleGridTop="2",scaleGridRight="72",scaleGridBottom="26");
	downSkin: Embed(source="skins/dushen/Button_downSkin.png",scaleGridLeft="2",scaleGridTop="2",scaleGridRight="72",scaleGridBottom="26");
	disabledSkin: Embed(source="skins/dushen/Button_disabledSkin.png",scaleGridLeft="2",scaleGridTop="2",scaleGridRight="72",scaleGridBottom="26");
	selectedUpSkin: Embed(source="skins/dushen/Button_downSkin.png",scaleGridLeft="2",scaleGridTop="2",scaleGridRight="72",scaleGridBottom="26");
	selectedOverSkin: Embed(source="skins/dushen/Button_overSkin.png",scaleGridLeft="2",scaleGridTop="2",scaleGridRight="72",scaleGridBottom="26");
	selectedDownSkin: Embed(source="skins/dushen/Button_downSkin.png",scaleGridLeft="2",scaleGridTop="2",scaleGridRight="72",scaleGridBottom="26");
	selectedDisabledSkin: Embed(source="skins/dushen/Button_disabledSkin.png",scaleGridLeft="2",scaleGridTop="2",scaleGridRight="72",scaleGridBottom="26");
	disabledColor: #777777;
}

mx|ButtonBar
{
	buttonStyleName: "buttonBarButton";
	firstButtonStyleName: "buttonBarButton";
	lastButtonStyleName: "buttonBarButton";
	horizontalGap: -1;
}
.buttonBarButton
{
	upSkin: Embed(source="skins/dushen/ButtonBar-button_upSkin.png",scaleGridLeft="2",scaleGridTop="2",scaleGridRight="42",scaleGridBottom="17");
	downSkin: Embed(source="skins/dushen/ButtonBar-button_downSkin.png",scaleGridLeft="2",scaleGridTop="2",scaleGridRight="42",scaleGridBottom="17");
	overSkin: Embed(source="skins/dushen/ButtonBar-button_overSkin.png",scaleGridLeft="2",scaleGridTop="2",scaleGridRight="42",scaleGridBottom="17");
	disabledSkin: Embed(source="skins/dushen/ButtonBar-button_disabledSkin.png",scaleGridLeft="2",scaleGridTop="2",scaleGridRight="42",scaleGridBottom="17");
	selectedDisabledSkin: Embed(source="skins/dushen/ButtonBar-button_selectedDisabledSkin.png",scaleGridLeft="2",scaleGridTop="2",scaleGridRight="42",scaleGridBottom="17");
	selected-down-skin: Embed(source="skins/dushen/ButtonBar-button_downSkin.png",scaleGridLeft="2",scaleGridTop="2",scaleGridRight="42",scaleGridBottom="17");
	selected-over-skin: Embed(source="skins/dushen/ButtonBar-button_overSkin.png",scaleGridLeft="2",scaleGridTop="2",scaleGridRight="42",scaleGridBottom="17");
	selectedUpSkin: Embed(source="skins/dushen/ButtonBar-button_selectedUpSkin.png",scaleGridLeft="2",scaleGridTop="2",scaleGridRight="42",scaleGridBottom="17");
	color:#000000;
	text-roll-over-color:#000000;
	textSelectedColor: #F0F0F0;
}
mx|buttonBarFirstButton
{
	upSkin: Embed(source="skins/dushen/ButtonBar-firstButton_upSkin.png",scaleGridLeft="2",scaleGridTop="2",scaleGridRight="42",scaleGridBottom="17");
	downSkin: Embed(source="skins/dushen/ButtonBar-firstButton_downSkin.png",scaleGridLeft="2",scaleGridTop="2",scaleGridRight="42",scaleGridBottom="17");
	overSkin: Embed(source="skins/dushen/ButtonBar-firstButton_overSkin.png",scaleGridLeft="2",scaleGridTop="2",scaleGridRight="42",scaleGridBottom="17");
	disabledSkin: Embed(source="skins/dushen/ButtonBar-firstButton_disabledSkin.png",scaleGridLeft="2",scaleGridTop="2",scaleGridRight="42",scaleGridBottom="17");
	selectedDisabledSkin: Embed(source="skins/dushen/ButtonBar-firstButton_selectedDisabledSkin.png",scaleGridLeft="2",scaleGridTop="2",scaleGridRight="42",scaleGridBottom="17");
	selected-down-skin: Embed(source="skins/dushen/ButtonBar-firstButton_downSkin.png",scaleGridLeft="2",scaleGridTop="2",scaleGridRight="42",scaleGridBottom="17");
	selected-over-skin: Embed(source="skins/dushen/ButtonBar-firstButton_overSkin.png",scaleGridLeft="2",scaleGridTop="2",scaleGridRight="42",scaleGridBottom="17");
	selectedUpSkin: Embed(source="skins/dushen/ButtonBar-firstButton_selectedUpSkin.png",scaleGridLeft="2",scaleGridTop="2",scaleGridRight="42",scaleGridBottom="17");
	color:#000000;
	text-roll-over-color:#000000;
	textSelectedColor: #F0F0F0;
}
.buttonBarLastButton
{
	upSkin: Embed(source="skins/dushen/ButtonBar-lastButton_upSkin.png",scaleGridLeft="2",scaleGridTop="2",scaleGridRight="42",scaleGridBottom="17");
	downSkin: Embed(source="skins/dushen/ButtonBar-lastButton_downSkin.png",scaleGridLeft="2",scaleGridTop="2",scaleGridRight="42",scaleGridBottom="17");
	overSkin: Embed(source="skins/dushen/ButtonBar-lastButton_overSkin.png",scaleGridLeft="2",scaleGridTop="2",scaleGridRight="42",scaleGridBottom="17");
	disabledSkin: Embed(source="skins/dushen/ButtonBar-lastButton_disabledSkin.png",scaleGridLeft="2",scaleGridTop="2",scaleGridRight="42",scaleGridBottom="17");
	selectedDisabledSkin: Embed(source="skins/dushen/ButtonBar-lastButton_selectedDisabledSkin.png",scaleGridLeft="2",scaleGridTop="2",scaleGridRight="42",scaleGridBottom="17");
	selected-down-skin: Embed(source="skins/dushen/ButtonBar-lastButton_downSkin.png",scaleGridLeft="2",scaleGridTop="2",scaleGridRight="42",scaleGridBottom="17");
	selected-over-skin: Embed(source="skins/dushen/ButtonBar-lastButton_overSkin.png",scaleGridLeft="2",scaleGridTop="2",scaleGridRight="42",scaleGridBottom="17");
	selectedUpSkin: Embed(source="skins/dushen/ButtonBar-lastButton_selectedUpSkin.png",scaleGridLeft="2",scaleGridTop="2",scaleGridRight="42",scaleGridBottom="17");
	color:#000000;
	text-roll-over-color:#000000;
	textSelectedColor: #F0F0F0;
}
mx|CheckBox
{
	disabledIcon: Embed(source="skins/dushen/CheckBox_disabledIcon.png");
	downIcon: Embed(source="skins/dushen/CheckBox_downIcon.png");
	overIcon: Embed(source="skins/dushen/CheckBox_overIcon.png");
	selectedDisabledIcon: Embed(source="skins/dushen/CheckBox_selectedDisabledIcon.png");
	selectedDownIcon: Embed(source="skins/dushen/CheckBox_selectedDownIcon.png");
	selectedOverIcon: Embed(source="skins/dushen/CheckBox_selectedOverIcon.png");
	selectedUpIcon: Embed(source="skins/dushen/CheckBox_selectedUpIcon.png");
	upIcon: Embed(source="skins/dushen/CheckBox_upIcon.png");
	color: #00AFE1;
	textRollOverColor: #777777;
	textSelectedColor: #FF7200;
	disabledColor: #A3A3A3;
	
}
mx|ColorPicker
{
	disabledSkin: Embed(source="skins/dushen/ColorPicker_disabledSkin.png");
	downSkin: Embed(source="skins/dushen/ColorPicker_downSkin.png");
	overSkin: Embed(source="skins/dushen/ColorPicker_overSkin.png");
	upSkin: Embed(source="skins/dushen/ColorPicker_upSkin.png");
}


mx|ComboBox
{	
	disabledSkin: Embed(source="skins/dushen/ComboBox_disabledSkin.png",scaleGridLeft="1",scaleGridTop="1",scaleGridRight="86",scaleGridBottom="21");
	downSkin: Embed(source="skins/dushen/ComboBox_downSkin.png",scaleGridLeft="1",scaleGridTop="1",scaleGridRight="86",scaleGridBottom="21");
	overSkin: Embed(source="skins/dushen/ComboBox_overSkin.png",scaleGridLeft="1",scaleGridTop="1",scaleGridRight="86",scaleGridBottom="21");
	upSkin: Embed(source="skins/dushen/ComboBox_upSkin.png",scaleGridLeft="1",scaleGridTop="1",scaleGridRight="86",scaleGridBottom="21");
	
	font-weight:normal;
	color:#000000;
	dropdownStyleName: comboBoxDropdown;
	cornerRadius:6;
	
}

mx|CursorManager
{
	busyCursor: Embed(source="skins/dushen/CursorManager_busyCursor.png");
}

mx|DataGrid
{
	background-color:#ffffff;
	border-color:#DDD;
	
	columnDropIndicatorSkin: Embed(source="skins/dushen/DataGrid_columnDropIndicatorSkin.png");
	columnResizeSkin: Embed(source="skins/dushen/DataGrid_columnResizeSkin.png");
	
	headerBackgroundSkin: Embed(source="skins/dushen/DataGrid_headerBackgroundSkin.png");
	header-colors:#303030,#161616;
	headerSeparatorSkin: Embed(source="skins/dushen/DataGrid_headerSeparatorSkin.png");
	header-style-name:dgridHeader;
	
	sortArrowSkin: Embed(source="skins/dushen/DataGrid_sortArrowSkin.png");
	stretchCursor: Embed(source="skins/dushen/DataGrid_stretchCursor.png");
	
	rollOverColor: #141414;
	selectionColor: #272727;
	
	color: #444;
	
	textRollOverColor: #EFC418;
	textSelectedColor: #C59900;
		
	verticalGridLines: true;
	alternatingItemColors: #ffffff, #ffffff;
	horizontalGridLines: false;
}

.dgridHeader{
	color:#333;
	background-color:#000000;
	fill-colors:#000000;
	textIndent: 3;
}


mx|DateChooser
{
	nextMonthDisabledSkin: Embed(source="skins/dushen/DateChooser_nextMonthDisabledSkin.png");
	nextMonthDownSkin: Embed(source="skins/dushen/DateChooser_nextMonthDownSkin.png");
	nextMonthOverSkin: Embed(source="skins/dushen/DateChooser_nextMonthOverSkin.png");
	nextMonthUpSkin: Embed(source="skins/dushen/DateChooser_nextMonthUpSkin.png");
	nextYearDisabledSkin: Embed(source="skins/dushen/DateChooser_nextYearDisabledSkin.png");
	nextYearDownSkin: Embed(source="skins/dushen/DateChooser_nextYearDownSkin.png");
	nextYearOverSkin: Embed(source="skins/dushen/DateChooser_nextYearOverSkin.png");
	nextYearUpSkin: Embed(source="skins/dushen/DateChooser_nextYearUpSkin.png");
	prevMonthDisabledSkin: Embed(source="skins/dushen/DateChooser_prevMonthDisabledSkin.png");
	prevMonthDownSkin: Embed(source="skins/dushen/DateChooser_prevMonthDownSkin.png");
	prevMonthOverSkin: Embed(source="skins/dushen/DateChooser_prevMonthOverSkin.png");
	prevMonthUpSkin: Embed(source="skins/dushen/DateChooser_prevMonthUpSkin.png");
	prevYearDisabledSkin: Embed(source="skins/dushen/DateChooser_prevYearDisabledSkin.png");
	prevYearDownSkin: Embed(source="skins/dushen/DateChooser_prevYearDownSkin.png");
	prevYearOverSkin: Embed(source="skins/dushen/DateChooser_prevYearOverSkin.png");
	prevYearUpSkin: Embed(source="skins/dushen/DateChooser_prevYearUpSkin.png");
	rollOverIndicatorSkin: Embed(source="skins/dushen/DateChooser_rollOverIndicatorSkin.png");
	selectionIndicatorSkin: Embed(source="skins/dushen/DateChooser_selectionIndicatorSkin.png");
	todayIndicatorSkin: Embed(source="skins/dushen/DateChooser_todayIndicatorSkin.png");
	backgroundColor: #EFEFEF;
	border-color:#DDD;
	color: #555;
	headerColors: #F3F3F3, #DFDFDF;
	headerStyleName: dateChooserHeader;
	weekDayStyleName: dateChooserWeekDay;
}
mx|DateField
{
	disabledSkin: Embed(source="skins/dushen/DateField_disabledSkin.png");
	downSkin: Embed(source="skins/dushen/DateField_downSkin.png");
	overSkin: Embed(source="skins/dushen/DateField_overSkin.png");
	upSkin: Embed(source="skins/dushen/DateField_upSkin.png");
	dateChooserStyleName:dateChooser;
	
	padding-left:6;
	padding-right:6;
	
	background-color:#EFEFEF;
	border-color:#DDD;
	color:#00AFE1;
}

.dateChooser
{
	nextMonthDisabledSkin: Embed(source="skins/dushen/DateChooser_nextMonthDisabledSkin.png");
	nextMonthDownSkin: Embed(source="skins/dushen/DateChooser_nextMonthDownSkin.png");
	nextMonthOverSkin: Embed(source="skins/dushen/DateChooser_nextMonthOverSkin.png");
	nextMonthUpSkin: Embed(source="skins/dushen/DateChooser_nextMonthUpSkin.png");
	nextYearDisabledSkin: Embed(source="skins/dushen/DateChooser_nextYearDisabledSkin.png");
	nextYearDownSkin: Embed(source="skins/dushen/DateChooser_nextYearDownSkin.png");
	nextYearOverSkin: Embed(source="skins/dushen/DateChooser_nextYearOverSkin.png");
	nextYearUpSkin: Embed(source="skins/dushen/DateChooser_nextYearUpSkin.png");
	prevMonthDisabledSkin: Embed(source="skins/dushen/DateChooser_prevMonthDisabledSkin.png");
	prevMonthDownSkin: Embed(source="skins/dushen/DateChooser_prevMonthDownSkin.png");
	prevMonthOverSkin: Embed(source="skins/dushen/DateChooser_prevMonthOverSkin.png");
	prevMonthUpSkin: Embed(source="skins/dushen/DateChooser_prevMonthUpSkin.png");
	prevYearDisabledSkin: Embed(source="skins/dushen/DateChooser_prevYearDisabledSkin.png");
	prevYearDownSkin: Embed(source="skins/dushen/DateChooser_prevYearDownSkin.png");
	prevYearOverSkin: Embed(source="skins/dushen/DateChooser_prevYearOverSkin.png");
	prevYearUpSkin: Embed(source="skins/dushen/DateChooser_prevYearUpSkin.png");
	rollOverIndicatorSkin: Embed(source="skins/dushen/DateChooser_rollOverIndicatorSkin.png");
	selectionIndicatorSkin: Embed(source="skins/dushen/DateChooser_selectionIndicatorSkin.png");
	todayIndicatorSkin: Embed(source="skins/dushen/DateChooser_todayIndicatorSkin.png");
	
	backgroundColor: #EFEFEF;
	border-color:#DDD;
	color: #555;
	headerColors: #F3F3F3, #DFDFDF;
	
	headerStyleName: dateChooserHeader;
	weekDayStyleName: dateChooserWeekDay;
}

.dateChooserHeader
{
	fontWeight: normal;
	fontSize: 13;
	color: #00AFE1;
}
.dateChooserWeekDay
{
	color: #707070;
	fontStyle: italic;
}

mx|DividedBox
{
	dividerSkin: Embed(source="skins/dushen/DividedBox_dividerSkin.png");
	horizontalCursor: Embed(source="skins/dushen/DividedBox_horizontalCursor.png");
	verticalCursor: Embed(source="skins/dushen/DividedBox_verticalCursor.png");
}
mx|DragManager
{
	copyCursor: Embed(source="skins/dushen/DragManager_copyCursor.png");
	defaultDragImageSkin: Embed(source="skins/dushen/DragManager_defaultDragImageSkin.png");
	linkCursor: Embed(source="skins/dushen/DragManager_linkCursor.png");
	moveCursor: Embed(source="skins/dushen/DragManager_moveCursor.png");
	rejectCursor: Embed(source="skins/dushen/DragManager_rejectCursor.png");
}
mx|FormItem
{
	indicatorSkin: Embed(source="skins/dushen/FormItem_indicatorSkin.png");
}

mx|HorizontalList{
	rollOverColor: #BB8800;
	selectionColor: #AA6600;
	
	text-selected-color:#FFF;
	
	backgroundColor:#F0F0F0;
	border-color:#DDD;
	color: #9D9D9D;
}

mx|HRule{
	shadow-color:#DBDBDB;
	stroke-color:#E0E0E0;
}

mx|HScrollBar
{
	up-arrow-skin: ClassReference(null);
	down-arrow-skin: ClassReference(null);
	thumbDownSkin: Embed(source="skins/dushen/HScrollBar_thumbDownSkin.png",scaleGridTop="5",scaleGridLeft="4",scaleGridRight="10",scaleGridBottom="43");
	thumbIcon: Embed(source="skins/dushen/HScrollBar_thumbIcon.png");
	thumbOverSkin: Embed(source="skins/dushen/HScrollBar_thumbOverSkin.png",scaleGridTop="5",scaleGridLeft="4",scaleGridRight="10",scaleGridBottom="43");
	thumbUpSkin: Embed(source="skins/dushen/HScrollBar_thumbUpSkin.png",scaleGridTop="5",scaleGridLeft="4",scaleGridRight="10",scaleGridBottom="43");
	trackDisabledSkin: Embed(source="skins/dushen/HScrollBar_trackDisabledSkin.png");
	trackSkin: Embed(source="skins/dushen/HScrollBar_trackSkin.png",scaleGridTop="5",scaleGridLeft="4",scaleGridRight="11",scaleGridBottom="143");
	/* downArrowDownSkin: Embed(source="skins/dushen/HScrollBar_downArrowDownSkin.png");
	downArrowOverSkin: Embed(source="skins/dushen/HScrollBar_downArrowOverSkin.png");
	downArrowUpSkin: Embed(source="skins/dushen/HScrollBar_downArrowUpSkin.png"); */
	/* upArrowDownSkin: Embed(source="skins/dushen/HScrollBar_upArrowDownSkin.png");
	upArrowOverSkin: Embed(source="skins/dushen/HScrollBar_upArrowOverSkin.png");
	upArrowUpSkin: Embed(source="skins/dushen/HScrollBar_upArrowUpSkin.png"); */
}
mx|LinkButton
{
	color:#00AFE1;
	text-roll-over-color:#EA0;
	text-selected-color:#FFF;
	disabledSkin: Embed(source="skins/dushen/LinkButton_disabledSkin.png", scaleGridLeft="4",scaleGridTop="4",scaleGridRight="60",scaleGridBottom="18");
	downSkin: Embed(source="skins/dushen/LinkButton_downSkin.png",scaleGridLeft="4",scaleGridTop="4",scaleGridRight="60",scaleGridBottom="18");
	overSkin: Embed(source="skins/dushen/LinkButton_overSkin.png",scaleGridLeft="4",scaleGridTop="4",scaleGridRight="60",scaleGridBottom="18");
	upSkin: Embed(source="skins/dushen/LinkButton_upSkin.png",scaleGridLeft="4",scaleGridTop="4",scaleGridRight="60",scaleGridBottom="18");
}

mx|LinkBar{
	separatorColor:#000000;
}

mx|List
{
	borderSkin: Embed(source="skins/dushen/List_borderSkin.png");
	color: #444;
	
	rollOverColor: #FFDA2C;
	selectionColor: #FA0;
	
	text-selected-color:#FFF;
	vertical-align:middle;
}
mx|Menu
{
	branchDisabledIcon: Embed(source="skins/dushen/Menu_branchDisabledIcon.png");
	branchIcon: Embed(source="skins/dushen/Menu_branchIcon.png");
	checkDisabledIcon: Embed(source="skins/dushen/Menu_checkDisabledIcon.png");
	checkIcon: Embed(source="skins/dushen/Menu_checkIcon.png");
	radioDisabledIcon: Embed(source="skins/dushen/Menu_radioDisabledIcon.png");
	radioIcon: Embed(source="skins/dushen/Menu_radioIcon.png");
	separatorSkin: Embed(source="skins/dushen/Menu_separatorSkin.png");
	button-height:24;
}
mx|MenuBar
{
	backgroundSkin: Embed(source="skins/dushen/MenuBar_backgroundSkin.png");
	itemDownSkin: Embed(source="skins/dushen/MenuBar_itemDownSkin.png");
	itemOverSkin: Embed(source="skins/dushen/MenuBar_itemOverSkin.png");
	itemUpSkin: Embed(source="skins/dushen/MenuBar_itemUpSkin.png");
	color:#444;
	text-roll-over-color:#C70;
	
	font-size:12;
	button-height:24;
}
mx|NumericStepper
{
	downArrowDisabledSkin: Embed(source="skins/dushen/NumericStepper_downArrowDisabledSkin.png",scaleGridRight="14",scaleGridLeft="1",scaleGridTop="1",scaleGridBottom="8");
	downArrowDownSkin: Embed(source="skins/dushen/NumericStepper_downArrowDownSkin.png",scaleGridRight="14",scaleGridLeft="1",scaleGridTop="1",scaleGridBottom="8");
	downArrowOverSkin: Embed(source="skins/dushen/NumericStepper_downArrowOverSkin.png",scaleGridRight="14",scaleGridLeft="1",scaleGridTop="1",scaleGridBottom="8");
	downArrowUpSkin: Embed(source="skins/dushen/NumericStepper_downArrowUpSkin.png",scaleGridRight="14",scaleGridLeft="1",scaleGridTop="1",scaleGridBottom="8");
	upArrowDisabledSkin: Embed(source="skins/dushen/NumericStepper_upArrowDisabledSkin.png",scaleGridRight="14",scaleGridLeft="1",scaleGridTop="1",scaleGridBottom="8");
	upArrowDownSkin: Embed(source="skins/dushen/NumericStepper_upArrowDownSkin.png",scaleGridRight="14",scaleGridLeft="1",scaleGridTop="1",scaleGridBottom="8");
	upArrowOverSkin: Embed(source="skins/dushen/NumericStepper_upArrowOverSkin.png",scaleGridRight="14",scaleGridLeft="1",scaleGridTop="1",scaleGridBottom="9");
	upArrowUpSkin: Embed(source="skins/dushen/NumericStepper_upArrowUpSkin.png",scaleGridRight="14",scaleGridLeft="1",scaleGridTop="1",scaleGridBottom="8");
	color: #00AFE1;
	fontWeight: normal;
	paddingLeft: 4;
	paddingTop: 4;
	cornerRadius: 3;
	font-size:13;
}

mx|TitleWindow{
	border-style:solid;
	border-color:#303030;
	border-thickness:1;
	border-thickness-top:30;
	background-color:#FFF;
	padding-top:10;
	padding-bottom:0;
	padding-left:8;
	padding-right:8;
	drop-shadow-enabled:true;
	corner-radius:0;
	header-height:32;
	title-style-name: panelTitle;
	header-colors:#111,#111;
	title-background-skin: Embed( source="skins/dushen/Panel_headerSkin.png", scaleGridLeft="1",scaleGridTop="1",scaleGridRight="270",scaleGridBottom="28");
	highlight-alphas:0,0;
	controlBarStyleName: darkControlBar;
	color: #ABABAB;
	
	closeButtonDisabledSkin: Embed(source="skins/dushen/Panel_closeButtonDisabledSkin.png");
	closeButtonDownSkin: Embed(source="skins/dushen/Panel_closeButtonDownSkin.png");
	closeButtonOverSkin: Embed(source="skins/dushen/Panel_closeButtonOverSkin.png");
	closeButtonUpSkin: Embed(source="skins/dushen/Panel_closeButtonUpSkin.png");
	
	modalTransparencyColor:#000000;
	modalTransparency:0.75;
	modalTransparencyBlur: 0.6;
}

mx|Panel{
	border-style:solid;
	border-color:#DDD;
	border-thickness:1;
	border-thickness-top:1;
	background-color:#EFEFEF;
	padding-top:0;
	padding-bottom:0;
	padding-left:8;
	padding-right:8;
	drop-shadow-enabled:true;
	corner-radius:0;
	header-height:30;
	title-style-name: panelTitle;
	header-colors:#F0F0F0,#E0E0E0;
	title-background-skin: Embed(source="skins/dushen/Panel_headerSkin.png",scaleGridLeft="1",scaleGridTop="1",scaleGridRight="270",scaleGridBottom="17");
	highlight-alphas:0,0;
	controlBarStyleName: controlBar;
	color: #ABABAB;
	
	closeButtonDisabledSkin: Embed(source="skins/dushen/Panel_closeButtonDisabledSkin.png");
	closeButtonDownSkin: Embed(source="skins/dushen/Panel_closeButtonDownSkin.png");
	closeButtonOverSkin: Embed(source="skins/dushen/Panel_closeButtonOverSkin.png");
	closeButtonUpSkin: Embed(source="skins/dushen/Panel_closeButtonUpSkin.png");
}

.panelTitle{
	font-size:13;
	color:#ffffff;
}

.controlBar{
	/* backgroundImage: Embed(source="skins/dushen/global/Panel_headerSkin.png"); */
	background-color:#E0E0E0;
	border-style:solid;
	border-color:#DDD;
	backgroundSize: "100%";
	padding-top:1;
	padding-left:0;
	padding-bottom:0;
	padding-right:0;
	horizontal-gap:0;
}

mx|PopUpButton
{
	color:#10CAFC;
	text-roll-over-color:#EA0;
	text-selected-color:#F70;
	disabledSkin: Embed(source="skins/dushen/PopUpButton_disabledSkin.png",scaleGridRight="58",scaleGridLeft="5",scaleGridTop="3",scaleGridBottom="4");
	downSkin: Embed(source="skins/dushen/PopUpButton_downSkin.png",scaleGridRight="58",scaleGridLeft="5",scaleGridTop="3",scaleGridBottom="4");
	overSkin: Embed(source="skins/dushen/PopUpButton_overSkin.png",scaleGridRight="58",scaleGridLeft="5",scaleGridTop="3",scaleGridBottom="4");
	popUpDownSkin: Embed(source="skins/dushen/PopUpButton_popUpDownSkin.png",scaleGridRight="58",scaleGridLeft="5",scaleGridTop="3",scaleGridBottom="4");
	popUpOverSkin: Embed(source="skins/dushen/PopUpButton_popUpOverSkin.png",scaleGridRight="58",scaleGridLeft="5",scaleGridTop="3",scaleGridBottom="4");
	upSkin: Embed(source="skins/dushen/PopUpButton_upSkin.png",scaleGridRight="58",scaleGridLeft="5",scaleGridTop="3",scaleGridBottom="4");
}
mx|ProgressBar
{
	barSkin: Embed(source="skins/dushen/ProgressBar_barSkin.png");
	indeterminateSkin: Embed(source="skins/dushen/ProgressBar_indeterminateSkin.png");
	trackSkin: Embed(source="skins/dushen/ProgressBar_trackSkin.png");
	color: #888;
	font-size:9;
	
}
mx|RadioButton
{
	disabledIcon: Embed(source="skins/dushen/RadioButton_disabledIcon.png");
	downIcon: Embed(source="skins/dushen/RadioButton_downIcon.png");
	overIcon: Embed(source="skins/dushen/RadioButton_overIcon.png");
	selectedDisabledIcon: Embed(source="skins/dushen/RadioButton_selectedDisabledIcon.png");
	selectedDownIcon: Embed(source="skins/dushen/RadioButton_selectedDownIcon.png");
	selectedOverIcon: Embed(source="skins/dushen/RadioButton_selectedOverIcon.png");
	selectedUpIcon: Embed(source="skins/dushen/RadioButton_selectedUpIcon.png");
	upIcon: Embed(source="skins/dushen/RadioButton_upIcon.png");
	
	color: #00AFE1;
	textRollOverColor: #777777;
	textSelectedColor: #FF7200;
	disabledColor: #A3A3A3;
}

mx|HSlider
{
	thumbDisabledSkin: Embed(source="skins/dushen/Slider_thumbDisabledSkin.png");
	thumbDownSkin: Embed(source="skins/dushen/Slider_thumbDownSkin.png");
	thumbOverSkin: Embed(source="skins/dushen/Slider_thumbOverSkin.png");
	thumbUpSkin: Embed(source="skins/dushen/Slider_thumbUpSkin.png");
	trackHighlightSkin: Embed(source="skins/dushen/Slider_trackHighlightSkin.png");
	trackSkin: Embed(source="skins/dushen/Slider_trackSkin.png");
}

mx|VSlider
{
	thumbDisabledSkin: Embed(source="skins/dushen/Slider_thumbDisabledSkin.png");
	thumbDownSkin: Embed(source="skins/dushen/Slider_thumbDownSkin.png");
	thumbOverSkin: Embed(source="skins/dushen/Slider_thumbOverSkin.png");
	thumbUpSkin: Embed(source="skins/dushen/Slider_thumbUpSkin.png");
	trackHighlightSkin: Embed(source="skins/dushen/Slider_trackHighlightSkin.png");
	trackSkin: Embed(source="skins/dushen/Slider_trackSkin.png");
}

mx|SWFLoader
{
	brokenImageSkin: Embed(source="skins/dushen/SWFLoader_brokenImageSkin.png");
}
mx|TabBar
{
	tabStyleName: "tabBarTab";
	firstTabStyleName: "tabBarTab";
	lastTabStyleName: "tabBarTab";
	
	font-weight:normal;
	selected-tab-text-style-name :selectedTab;
	
	tabStyleName: "tabBarTab";
	firstTabStyleName: "tabBarTab";
	lastTabStyleName: "tabBarTab";
	fontSize: 9;
}


mx|TabNavigator{
	border-style: solid;
	background-color:#FFF;
	border-color:#DDD;
	selectedTabTextStyleName: "selectedTab";
}
.selectedTab{
	font-weight:bold;
	color:#000000;
	textRollOverColor: #000000;
}

.tabBarTab
{
	upSkin: Embed(source="skins/dushen/TabBar-tab_upSkin.png",scaleGridLeft="2",scaleGridTop="3",scaleGridRight="50",scaleGridBottom="20");
	overSkin: Embed(source="skins/dushen/TabBar-tab_overSkin.png",scaleGridLeft="2",scaleGridTop="3",scaleGridRight="50",scaleGridBottom="20");
	downSkin: Embed(source="skins/dushen/TabBar-tab_downSkin.png",scaleGridLeft="2",scaleGridTop="3",scaleGridRight="50",scaleGridBottom="20");
	disabledSkin: Embed(source="skins/dushen/TabBar-tab_disabledSkin.png",scaleGridLeft="2",scaleGridTop="3",scaleGridRight="50",scaleGridBottom="20");
	selectedDisabledSkin: Embed(source="skins/dushen/TabBar-tab_selectedDisabledSkin.png",scaleGridLeft="2",scaleGridTop="3",scaleGridRight="50",scaleGridBottom="20");
	selectedUpSkin: Embed(source="skins/dushen/TabBar-tab_selectedUpSkin.png",scaleGridLeft="2",scaleGridTop="3",scaleGridRight="50",scaleGridBottom="20");
	selectedOverSkin: Embed(source="skins/dushen/TabBar-tab_selectedUpSkin.png",scaleGridLeft="2",scaleGridTop="3",scaleGridRight="50",scaleGridBottom="20");
	
	padding-left:5;
	padding-right:5;
	padding-top:4;
	padding-bottom:3;
	
	color: #333333;
	textRollOverColor: #333333;
	text-selected-color:#333333;
	disabledColor: #A3A3A3;
}



mx|TextInput
{
	borderSkin: Embed(source="skins/dushen/TextInput_borderSkin.png");
	focusSkin: Embed(source="skins/dushen/TextInput_focusSkin.png");
	color: #444;
	paddingLeft: 1;
	fontFamily: Verdana;
}




mx|TileList{
	rollOverColor: #BB8800;
	selectionColor: #AA6600;
	
	text-selected-color:#FFF;
}

mx|ToolTip
{
	borderSkin: Embed(source="skins/dushen/ToolTip_borderSkin.png",scaleGridTop="4",scaleGridLeft="4",scaleGridRight="78",scaleGridBottom="19");
	color:#555;
	
	padding-top:8;
	padding-bottom:8;
	padding-right:8;
	padding-left:8;
}
mx|Tree
{
	color:#444;
	borderSkin: Embed(source="skins/dushen/Tree_borderSkin.png");
	defaultLeafIcon: Embed(source="skins/dushen/Tree_defaultLeafIcon.png");
	disclosureClosedIcon: Embed(source="skins/dushen/Tree_disclosureClosedIcon.png");
	disclosureOpenIcon: Embed(source="skins/dushen/Tree_disclosureOpenIcon.png");
	folderClosedIcon: Embed(source="skins/dushen/Tree_folderClosedIcon.png");
	folderOpenIcon: Embed(source="skins/dushen/Tree_folderOpenIcon.png");
	selectionColor: #272727;
	indentation: 20;
	textSelectedColor: #C59900;
	themeColor: #161616;
	rollOverColor: #141414;
	selectionDisabledColor: #000000;
	textRollOverColor: #EFC418;
}

mx|TileList{
	backgroundColor:#ffcccc;
	border-color:#ffcccc;
	
	color:#000000;
	
	textRollOverColor: #000000;
	
	rollOverColor: #ffcccc;
	selectionColor: #cc3366;
}




mx|VRule{
	shadow-color:#DBDBDB;
	stroke-color:#E0E0E0;
}

/* .tabBarTab
{
disabledSkin: Embed(source="skins/dushen/TabBar-tab_disabledSkin.png",scaleGridLeft="2",scaleGridTop="3",scaleGridRight="50",scaleGridBottom="20");
downSkin: Embed(source="skins/dushen/TabBar-tab_downSkin.png",scaleGridLeft="2",scaleGridTop="3",scaleGridRight="50",scaleGridBottom="20");
overSkin: Embed(source="skins/dushen/TabBar-tab_overSkin.png",scaleGridLeft="2",scaleGridTop="3",scaleGridRight="50",scaleGridBottom="20");
selectedDisabledSkin: Embed(source="skins/dushen/TabBar-tab_selectedDisabledSkin.png",scaleGridLeft="2",scaleGridTop="3",scaleGridRight="50",scaleGridBottom="20");
selectedUpSkin: Embed(source="skins/dushen/TabBar-tab_selectedUpSkin.png",scaleGridLeft="2",scaleGridTop="3",scaleGridRight="50",scaleGridBottom="20");
upSkin: Embed(source="skins/dushen/TabBar-tab_upSkin.png");
} */

mx|VScrollBar
{
	up-arrow-skin: ClassReference(null);
	down-arrow-skin: ClassReference(null);
	thumbDownSkin: Embed(source="skins/dushen/HScrollBar_thumbDownSkin.png",scaleGridTop="5",scaleGridLeft="4",scaleGridRight="10",scaleGridBottom="43");
	thumbIcon: Embed(source="skins/dushen/HScrollBar_thumbIcon.png");
	thumbOverSkin: Embed(source="skins/dushen/HScrollBar_thumbOverSkin.png",scaleGridTop="5",scaleGridLeft="4",scaleGridRight="10",scaleGridBottom="43");
	thumbUpSkin: Embed(source="skins/dushen/HScrollBar_thumbUpSkin.png",scaleGridTop="5",scaleGridLeft="4",scaleGridRight="10",scaleGridBottom="43");
	trackDisabledSkin: Embed(source="skins/dushen/HScrollBar_trackDisabledSkin.png");
	trackSkin: Embed(source="skins/dushen/HScrollBar_trackSkin.png",scaleGridTop="5",scaleGridLeft="4",scaleGridRight="11",scaleGridBottom="143");
	/* downArrowDownSkin: Embed(source="skins/dushen/HScrollBar_downArrowDownSkin.png");
	downArrowOverSkin: Embed(source="skins/dushen/HScrollBar_downArrowOverSkin.png");
	downArrowUpSkin: Embed(source="skins/dushen/HScrollBar_downArrowUpSkin.png");
	upArrowDownSkin: Embed(source="skins/dushen/HScrollBar_upArrowDownSkin.png");
	upArrowOverSkin: Embed(source="skins/dushen/HScrollBar_upArrowOverSkin.png");
	upArrowUpSkin: Embed(source="skins/dushen/HScrollBar_upArrowUpSkin.png"); */
}
.comboBoxDropdown
{
	verticalScrollBarStyleName: listBaseVerticalScrollBar;
}
.listBaseVerticalScrollBar
{
}

